# XGBoost Notebook

#### *Author: Kunyu He*
#### *University of Chicago, CAPP'20*

In [24]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix

ModuleNotFoundError: No module named 'xgboost'

### Load Data

In [11]:
churn = pd.read_csv("Churn_Modelling.csv")
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

The bank witnessed high churn (customers leave bank) rate, and wants to lower the exiting rate. We are predicting which customer is leaving the bank.

### Data Cleaning

In [12]:
churn.shape

(10000, 14)

In [13]:
churn.isnull().sum(axis=0)

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

No value missing.

### Feature Engineering

In [14]:
X = churn.iloc[:, 3:13].values
X.shape

(10000, 10)

In [15]:
y = churn.Exited.values.astype(float)
y.shape

(10000,)

In [16]:
X[:, 2] = LabelEncoder().fit_transform(X[:, 2])

dummies = OneHotEncoder(categories="auto").fit_transform(X[:, [1]]).toarray()
X = np.delete(X, 1, 1)
X = np.column_stack((dummies[:, 1:], X)).astype(float) # drop one category

X.shape

(10000, 11)

### Training and Test Set Split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=123)

### Model Training

### Model Evaluation

In [26]:
confusion_matrix(y_test, ann.predict(X_test) > 0.5)

array([[1449,  137],
       [ 221,  193]], dtype=int64)

Obviously, our model is over-fitting the training set. Try a less complex one with less neurons in the hidden layers.

In [28]:
ann6 = Sequential()
ann6.add(Dense(6, activation="relu", input_shape=(11,)))
ann6.add(Dense(6, activation="relu"))
ann6.add(Dense(1, activation="sigmoid"))
ann6.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

ann6.fit(X_train, y_train, batch_size=10, epochs=20)

Epoch 1/20
8000/8000 [==============================] - 4s 453us/step - loss: 0.5060 - acc: 0.7967
Epoch 2/20
8000/8000 [==============================] - 3s 410us/step - loss: 0.4389 - acc: 0.7995
Epoch 3/20
8000/8000 [==============================] - 3s 411us/step - loss: 0.4239 - acc: 0.8127
Epoch 4/20
8000/8000 [==============================] - 3s 412us/step - loss: 0.4147 - acc: 0.8166
Epoch 5/20
8000/8000 [==============================] - 3s 423us/step - loss: 0.4051 - acc: 0.8202
Epoch 6/20
8000/8000 [==============================] - 3s 411us/step - loss: 0.3952 - acc: 0.8286
Epoch 7/20
8000/8000 [==============================] - 3s 417us/step - loss: 0.3856 - acc: 0.8399
Epoch 8/20
8000/8000 [==============================] - 3s 414us/step - loss: 0.3751 - acc: 0.8439
Epoch 9/20
8000/8000 [==============================] - 3s 421us/step - loss: 0.3665 - acc: 0.8501
Epoch 10/20
8000/8000 [==============================] - 3s 419us/step - loss: 0.3598 - acc: 0.8505
Epoch 11/20
8000/8000 [==============================] - 3s 421us/step - loss: 0.3549 - acc: 0.8546
Epoch 12/20
8000/8000 [==============================] - 4s 439us/step - loss: 0.3510 - acc: 0.8572
Epoch 13/20
8000/8000 [==============================] - 3s 435us/step - loss: 0.3482 - acc: 0.8576
Epoch 14/20
8000/8000 [==============================] - 3s 433us/step - loss: 0.3453 - acc: 0.8589
Epoch 15/20
8000/8000 [==============================] - 3s 415us/step - loss: 0.3450 - acc: 0.8581
Epoch 16/20
8000/8000 [==============================] - 3s 417us/step - loss: 0.3431 - acc: 0.8581
Epoch 17/20
8000/8000 [==============================] - 3s 425us/step - loss: 0.3420 - acc: 0.8586
Epoch 18/20
8000/8000 [==============================] - 3s 414us/step - loss: 0.3415 - acc: 0.8600
Epoch 19/20
8000/8000 [==============================] - 3s 420us/step - loss: 0.3405 - acc: 0.8587
Epoch 20/20
8000/8000 [==============================] - 3s 421us/step - loss: 0.3399 - acc: 0.8586

In [29]:
confusion_matrix(y_test, ann6.predict(X_test) > 0.5)

array([[1527,   59],
       [ 217,  197]], dtype=int64)

No over-fitting.