In [29]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Load Data

In [19]:
data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### Missing Values

In [20]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

No value missing.

### Feature Selection

In [21]:
X = data.iloc[:, :4].values
X.shape

(50, 4)

In [22]:
y = data.Profit.values
y.shape

(50,)

### Encoding

In [24]:
data.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

More than two levels, use one-hot-encoding.

In [23]:
X[:, 3] = LabelEncoder().fit_transform(X[:, 3])
X = OneHotEncoder(categorical_features=[3]).fit_transform(X).toarray()

Avoid the dummy variable trap.

In [25]:
X = X[:, 1:]

### Training and Test Set Split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=123)

### Model Training

In [31]:
mlr = LinearRegression()
mlr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)